{% extends "base.jinja2" %}
{% block title %}Update Queue{% endblock %}
{% block content %}
<div class="row">
    <div class="six columns offset-by-three">
        <div class="content-title">Update Queue</div>
        <table class="u-full-width shadow-box link-style-rollover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                <tr>
            </thead>
            <tbody>
            {% for item in queue %}
                <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.__class__.__name__ }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}