{% extends "base.jinja2" %}
{% block title %}{{ character.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="four columns offset-by-four">
            <div class="content-title">{{ character.name }}</div>
            <table class="u-full-width shadow-box">
                <tbody>
                    <tr>
                        <td style="border-top: 0"><b>Free Company:</b></td>
                        <td style="border-top: 0">{{ character.free_company.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Server:</b></td>
                        <td>{{ character.server }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div style="display: inline-block;" class="four columns offset-by-two">
            <div class="profile-section-header">Disciple of War</div>
            <table class="u-full-width shadow-box">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                {% for class in war_classes.values() %}
                    <tr>
                        <td>{{ class.name }}</td>
                        <td>{{ class.level }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="display: inline-block;" class="four columns">
            <div class="profile-section-header">Disciple of Magic</div>
            <table class="u-full-width shadow-box">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                {% for class in magic_classes.values() %}
                    <tr>
                        <td>{{ class.name }}</td>
                        <td>{{ class.level }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div style="display: inline-block;" class="four columns offset-by-two">
            <div class="profile-section-header">Disciple of Hand</div>
            <table class="u-full-width shadow-box">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                {% for class in hand_classes.values() %}
                    <tr>
                        <td>{{ class.name }}</td>
                        <td>{{ class.level }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="display: inline-block;" class="four columns">
            <div class="profile-section-header">Disciple of Land</div>
            <table class="u-full-width shadow-box">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                {% for class in land_classes.values() %}
                    <tr>
                        <td>{{ class.name }}</td>
                        <td>{{ class.level }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}