{% extends "base.jinja2" %}
{% block title %}{{ free_company.name }} - Login{% endblock %}
{% block head %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="three columns offset-by-five">
            <form method="POST" autocomplete="on">
                <label for="username">Username</label>
                <input id="username" type="text" name="username"/>

                <label for="password">Password</label>
                <input id="password" name="password" type="password"/>

                <label for="password_retype">Password</label>
                <input id="password_retype" name="password_retype" type="password"/>

                <label for="email">E-Mail</label>
                <input id="email" type="email" name="email"/>
                {% if recaptcha_enabled %}
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                {% endif %}
                <input class="button-primary" type="submit" value="Register"/>
            </form>
        </div>
    </div>
{% endblock %}