{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="ten columns offset-by-one">
            <div class="content-title link-style-rollover"><a href="{{ request.route_url('forum') }}">{{ free_company.name }} Forums</a></div>
            <div class="topic-category-name u-full-width">{{ category.name }}</div>
            <table class="shadow-box link-style-rollover">
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Author</th>
                        <th>Replies</th>
                        <th>Last Post</th>
                    </tr>
                </thead>
                <tbody>
                {% for topic in topics %}
                {% set last_post = topic.posts[-1] %}
                <tr>
                    <td>
                        <span class="topic-name">
                            <a href="{{ request.route_url('forum_topic', topic_id=topic.id, page=1) }}">{{ topic.name[:100] }}</a>
                        </span>
                    </td>

                    <td>
                        {{ topic.user.username }}
                    </td>

                    <td>
                        {% if topic.posts|length > 0 %} {{ topic.posts|length -1 }}
                        {% else %}0
                        {% endif %}
                    </td>

                    <td class="text-nowrap">
                            {{ last_post.post_date.strftime('%b %d, %I:%M%p') }}<br/>
                            by {{ last_post.user.username }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% if request.has_permission('forum_new_topic') %}
            <div>
                <a class="button button-primary" href="{{ request.route_url('forum_new_topic', category_id=category.id) }}">New Topic</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}