{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="eight columns offset-by-two">
            <div class="content-title link-style-rollover"><a href="{{ request.route_url('forum') }}">{{ free_company.name }} Forums</a></div>
            <div class="topic-category-name u-full-width">{{ category.name }}</div>
            <table class="u-full-width shadow-box link-style-rollover">
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Author</th>
                        <th>Replies</th>
                        <th>Last Post</th>
                    </tr>
                </thead>
                <tbody>
                {% for topic in topics %}
                {% set last_post = topic.posts[-1] %}
                <tr>
                    <td>
                        <span class="topic-name">
                            <a href="{{ request.route_url('forum_topic', topic_id=topic.id, page=1) }}">{{ topic.name[:100] }}</a>
                        </span><br/>
                    </td>

                    <td>
                        {{ topic.user.username }}
                    </td>

                    <td>
                        {% if topic.posts|length > 0 %} {{ topic.posts|length -1 }}
                        {% else %}0
                        {% endif %}
                    </td>

                    <td class="text-nowrap">
                    {% if topic.posts|length > 0 %}
                            {{ last_post.post_date.strftime('%b %d, %I:%M%p') }}
                    {% else %}
                        No posts.
                    {% endif %}
                        {% if request.has_permission('forum_delete_topic') %}
                            <span class="link-style-danger"><a href="{{ request.route_url('forum_delete_topic', topic_id=topic.id) }}">X</a></span>
                        {% endif %}
                        <br/>
                    {% if topic.posts|length > 0 %}
                            by {{ last_post.user.username }}
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% if request.has_permission('forum_new_topic') %}
            <div>
                <a class="button button-primary" href="{{ request.route_url('forum_new_topic', category_id=category.id) }}">New Topic</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}