{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="eight columns offset-by-two">
            <div class="topic-category-name u-full-width">{{ category.name }}</div>
            <ul class="topic-list">
                <li>
                {% for topic in topics %}
                    <div class="topic">
                        <div class="topic-header">
                            <span class="topic-name">
                                <a href="{{ request.route_url('forum_topic', topic_id=topic.id, page=1) }}">{{ topic.name[:100] }}</a>
                            </span><br/>
                            <span>Started on {{ topic.creation_date.strftime('%b %d') }} at {{ topic.creation_date.strftime('%I:%M%p') }} by <i>{{ topic.user.username }}</i></span>
                            <span class="topic-reply-count"><b>Replies:</b> {{ topic.posts|length - 1 }}</span>
                        </div>
                        <span class="topic-description">{{ topic.posts[0].content[:50] }}</span><br/>
                        {% if topic.posts|length > 1 %}
                            {% set last_post = topic.posts[-1] %}
                        <span class="topic-last-post"><b>Last Post:</b> {{ last_post.content }} by {{ last_post.user.username }} on {{ last_post.post_date.strftime('%b %d, %I:%M%p') }}</span>
                        {% else %}
                            <span class="topic-last-post">No replies.</span>
                        {% endif %}
                        {% if request.has_permission('forum_delete_topic') %}
                            <br/><span class="topic-delete"><a href="{{ request.route_url('forum_delete_topic', topic_id=topic.id) }}">Delete Topic</a></span>
                        {% endif %}
                    </div>
                {% endfor %}
                </li>
            </ul>
        {% if request.has_permission('forum_new_topic') %}
            <div>
                <a class="button button-primary" href="{{ request.route_url('forum_new_topic', category_id=category.id) }}">New Topic</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}