{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="eight columns offset-by-two">
            <table class="category-list shadow-box">
                <thead>
                    <tr>
                        <th>Forum</th>
                        <th>Topics</th>
                        <th>Posts</th>
                        <th>Last Post</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                        {% if category.link_alias %}
                            <a href="{{ request.route_url('forum_category', category_name=category.link_alias) }}">{{ category.name }}</a>
                        {% else %}
                            <a href="{{ request.route_url('forum_category', category_name=category.name) }}">{{ category.name }}</a>
                        {% endif %}
                        </td>
                        <td>
                            {{ category.topic_count }}
                        </td>
                        <td>
                            {{ category.post_count }}
                        </td>
                        <td>
                            {% if category.last_topic %}
                                {% set last_post = category.last_post %}{% set last_topic = category.last_topic %}
                                <a href="{{ request.route_url('forum_topic', topic_id=last_topic.id, page=1) }}">{{ last_topic.name }}</a>: {{ last_post.content[:50] }}
                            {% if last_post.content|length  > 50%}...{% endif %}<br/>
                                on {{ last_post.post_date.strftime('%b %d, %I:%M%p') }} by <i>{{ last_post.user.username }}</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if request.has_permission('forum_add_category') %}
                <span><a class="button button-primary" href="{{ request.route_url('forum_add_category') }}">Add Category</a></span>
            {% endif %}
        </div>
    </div>
{% endblock %}