{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="eight columns offset-by-two">
            <div class="topic-category-name u-full-width">{{ topic.category.name }}<br/>{{ topic.name }}</div>
            <ul class="post-list">
                <li class="shadow-box">
                {% for post in posts %}
                        <div class="post-content">{{ post.content|safe }}</div>
                        <div class="post-detail">
                            {{ post.post_date.strftime('%b %d') }} at {{ post.post_date.strftime('%I:%M%p') }} by <i>{{ post.user.username }}</i>
                        {% if request.has_permission('forum_delete_post') %}
                            <span class="post-delete"><a href="{{ request.route_url('forum_delete_post', topic_id=topic.id, post_id=post.id) }}">Delete</a></span>
                        {% endif %}
                        </div>
                {% endfor %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}