{% extends "base.jinja2" %}
{% block head %}
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ request.static_url('pychub:static/js/jquery.wysibb.min.js') }}"></script>
    <script src="{{ request.static_url('pychub:static/js/wysibb-settings.js') }}"></script>
    <link rel="stylesheet" href="{{request.static_url('pychub:static/css/wbbtheme.css')}}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="eight columns offset-by-two">
            <div class="content-title link-style-rollover"><a href="{{ request.route_url('forum') }}">{{ free_company.name }} Forums</a></div>
            <div class="topic-category-name u-full-width link-style-rollover"><a href="{{ request.route_url('forum_category', category_name=category.link_alias) }}">{{ topic.category.name }}</a> > {{ topic.name }}</div>
            <ul class="post-list">
                {% for post in posts %}
                <li class="shadow-box">
                        <span class="post-user">{{ post.user.username }}</span>:
                        {% if request.has_permission('forum_delete_post') %}
                            <span class="top-right-icon link-style-danger"><a href="{{ request.route_url('forum_delete_post', topic_id=topic.id, post_id=post.id) }}">X</a></span>
                        {% endif %}
                        <div class="post-content">{{ post.content|safe }}</div>
                        <span class="post-detail">
                            on {{ post.post_date.strftime('%b %d') }} at {{ post.post_date.strftime('%I:%M%p') }}
                        </span>
                </li>
                {% endfor %}
            </ul>
        {% if topic.posts|length > 20 %}
            <div class="text-right u-full-width link-style-rollover">
                <b>Displaying {{ start_post }} - {{ end_post }} of {{ total_posts }}</b><br/>
                {% if page > 1 %}
                    <a href="{{ request.route_url('forum_topic', topic_id=topic.id, page=1) }}"> << </a>
                    <a href="{{ request.route_url('forum_topic', topic_id=topic.id, page=page-1) }}"> < </a>
                {% endif %}
                {% if not page == last_page %}
                    <a href="{{ request.route_url('forum_topic', topic_id=topic.id, page=page+1) }}"> > </a>
                    <a href="{{ request.route_url('forum_topic', topic_id=topic.id, page=last_page) }}"> >> </a>
                {% endif %}
            </div>
        {% endif %}
        {% if request.has_permission('forum_post_reply') %}
            <form method="POST" id="new-topic">
                <label for="content">New Post:</label>
                <textarea id="editor" name="content" class="u-full-width" maxlength="5000"></textarea><br/>
                <input class="button-primary" type="submit" value="Post"/>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}