body {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
}
div.container {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.shadow-box {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
}
.link-style-rollover a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.link-style-rollover a:hover {
    background-color: gray;
}

span.center {
    display: block;
    text-align: center;
}

textarea#editor {
    height: 30em;
}

/** Nav **/
nav ul {
    list-style-type: none;
    margin: -0.5em 0 0;
    overflow: hidden;
    width: 100%;
}
nav ul li {
    float: left;
    background-color: rgba(0,0,0,0.4);
    width: 12.8em;
    display: block;
}
nav ul li:hover {
    background-color: rgba(84,121,144,0.4);
}
nav ul li a:link, nav ul li a:visited, nav ul li, nav ul li ul a:link, nav ul li ul a:visited {
    color: ghostwhite;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 20%;
}
nav ul li ul {
    float: left;
    display: none;
    margin-top: 0;
    position: absolute;
    width: inherit;
}
nav ul ul li {
    display: block;
    width: 100%;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li a:hover, nav ul li ul a:hover {
    color: black;
}

/** Members **/
table.member-list {
    border-collapse: collapse;
}
table.member-list td, th {
    border-bottom: 1px black solid;
}

table.member-list tr td a{
    display: block;
    text-decoration: none;
    color: black;
}
table.member-list tr td a:hover{
    background-color: gray;
}

/** News **/
ul#news-list {
    list-style-type: none;
}

div.news-post {
    margin-bottom: 2em;
}
div.news-post-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}
span.news-post-title {
    display: inline;
    width: 80%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}
span.news-post-body {
    display: block;
    text-align: center;
}
span.news-post-date {
    display: inline;
    width: 20%;
    text-align: right;
    font-weight: lighter;
    font-style: italic;
}
span.news-post-user {
    font-weight: bold;
    font-style: italic;
}
div.mini-right {
    text-align: right;
}
div.mini-right a {
    text-decoration: none;
}

/** Forums **/
table.category-list {
    border-collapse: collapse;
}
table.category-list th {
    border-bottom: 3px solid black;
}
table.category-list a:link, a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
table.category-list td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

ul.topic-list {
    list-style: none;
}
div.topic {
    margin-bottom: 1em;
}
div.topic-header {
    border-bottom: 1px solid black;
}
span.topic-name a:link, span.topic-name a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
span.topic-reply-count {
    width: 50%;
    padding-right: 1em;
    text-align: right;
    display: inline-block;
    float: right;
}
div.topic-category-name {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 1em;
}
ul.post-list {
    list-style-type: none;
}
div.post-content {
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}
span.post-delete {
    width: 100%;
    display: inline-block;
    text-align: right;
}
span.post-delete a:link {
    text-decoration: none;
    color: black;
}