{% extends "base.jinja2" %}
{% block title %}{{ free_company.name }} - Login{% endblock %}
{% block content %}
    <div class="row">
        <div class="three columns offset-by-five">
            <form method="POST">
                <label for="username">Username</label>
                <input type="text" name="username"/>
                <label for="password">Password</label>
                <input type="text" name="password">
                <input type="submit" value="Login"/>
            </form>
        </div>
    </div>
{% endblock %}